@import url('https://fonts.googleapis.com/css?family=Cuprum:400,400i,700|PT+Sans:400,400i,700,700i&subset=cyrillic');

body {
  margin:0;
  padding: 0;
  font-family: Cuprum, Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  font-style: normal;
}

.inner-content {
  font-family: PT Sans, Arial, sans-serif;
}

.company-description,
.company-delivery,
.contacts-description {
  font-family: PT Sans, Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  color: #000000;
  margin: 0;
  margin-bottom: 23px;
  white-space: pre-line;
}

a {
  text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header {
  min-width: 940px;
}

.main-header-top,
.inner-header-top {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  background-color: #293449;
}

.header-wrapper {
  background-color: #293449;
}

.main-header-logo,
.inner-header-logo {
  position: relative;
  display: block;
  background-color: #ee3643;
  width: 220px;
  min-height: 42px;
  -webkit-box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
          box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
  margin-bottom: -5px;
}

.logo-img {
  position: absolute;
  top: 25%;
  left: 25%;
}

.header-search-input {
  font-family: Cuprum, Arial, sans-serif;
  width: 100%;
  height: 42px;
  vertical-align: top;
  background-color: #293449;
  border: 0px solid;
  color: #ffffff;
  padding: 0;
}

.header-search-label {
  display: inline-block;
  vertical-align: top;
  background-color: #293449;
  width: 48px;
  height: 42px;
}

.header-search-icon {
  fill: rgba(255, 255, 255, 0.3);
  padding: 10px 15px 11px 17px;
}

.header-search-input:hover~.header-search-label .header-search-icon  {
  fill: rgba(255, 255, 255, 1);
}

.header-search-input::-webkit-input-placeholder {
  font-size: 17px;
  color: #ffffff;
}

.header-search-input:-ms-input-placeholder {
  font-size: 17px;
  color: #ffffff;
}

.header-search-input::-ms-input-placeholder {
  font-size: 17px;
  color: #ffffff;
}

.header-search-input::placeholder {
  font-size: 17px;
  color: #ffffff;
}

.header-search-input:focus,
.header-search-input:focus~.header-search-label {
  min-height: 42px;
  background-color: #ffffff;
  font-size: 17px;
  color: #000000;
}

.header-search-input:focus~.header-search-label .header-search-icon {
  fill: #ee3643;
}

.main-header-list,
.inner-header-list {
  list-style: none;
}

.main-header-link,
.inner-header-link {
  min-height: 42px;
  display: block;
  color: #ffffff;
  padding-left: 20px;
}

.inner-header-cart-active {
  background-color: #ee3643;
}

.main-header-checkout,
.inner-header-checkout {
  background-color: #63a63e;
  padding: 0;
}

.main-header-link:hover,
.inner-header-link:hover,
.main-header-link:hover::before,
.inner-header-link:hover::before,
.main-header-link:focus::before,
.inner-header-link:focus::before {
  opacity: 1;
  background-color: #212a3a;
}

.inner-header-logo:hover,
.inner-header-cart-active:hover,
.inner-footer-logo:hover,
.inner-header-cart:hover::before,
.inner-header-logo:focus,
.inner-header-cart-active:focus,
.inner-footer-logo:focus,
.inner-header-cart:focus::before {
  background-color: #ca2c37;
}

.main-header-checkout:hover,
.inner-header-checkout:hover,
.main-header-checkout:focus,
.inner-header-checkout:focus {
  background-color: #5fbb2d;
}

.main-header-link:active,
.inner-header-link:active,
.main-header-link:active::before,
.inner-header-link:active::before {
  opacity: 0.5;
  background-color: #161d29;
}

.inner-header-logo:active,
.inner-header-cart-active:active,
.inner-footer-logo:active,
.inner-header-cart:active::before {
  background-color: #ba2732;
}

.main-header-checkout:active,
.inner-header-checkout:active {
  background-color: #518534;
}

.header-wrapper-middle {
  background-color: #f1f5f7;
  padding-bottom: 65px;
}

.main-header-middle,
.inner-header-middle {
  font-size: 21px;
  line-height: 21px;
  background-color: #f1f5f7;
}

.main-header-title,
.inner-header-title {
  width: 200px;
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  font-weight: 400;
  color: #ee3643;
  margin: 0;
  margin-top: 2px;
  margin-left: 53px;
  padding: 0;
}

.main-header-contact,
.inner-header-contact {
  width: 270px;
  min-height: 45px;
  margin-right: auto;
  margin-left: 67px;
}

.header-contact-phone {
  margin: 0;
  padding-top: 10px;
  padding-left: 71px;
  padding-bottom: 9px;
  border: 3px solid #ffffff;
  font-size: 21px;
  line-height: 18px;
  font-style: normal;
  font-weight: 700;
  color: #ef3643;
  position: relative;
  letter-spacing: -0.3px;
}

.header-contact-link {
  font-size: 21px;
  line-height: 21px;
  font-style: normal;
  color: #ee3643;
}

.header-contact-link::before {
  content: "";
  position: absolute;
  top: 11px;
  left: 13px;
  width: 19px;
  height: 19px;
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
}

.header-contact-address {
  font-size: 14px;
  line-height: 24px;
  font-style: normal;
  color: #32425c;
  font-weight: 700;
  margin: 0;
  padding-top: 3px;
  padding-left: 10px;
  letter-spacing: -0.3px;
}

.main-header-user,
.inner-header-user {
  list-style: none;
}

.header-user-list {
  position: relative;
  background-color: #ffffff;
}

.header-user-link {
  display: inline-block;
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.cabinet,
.orders {
  display: block;
  background: 0 0;
  margin: 0;
  margin-top: 2px;
}

.separator {
  display: block;
  background: 0 0;
  margin: 0 auto;
  padding-top: 5px;
  color: #32425c;
}

.cabinet {
  margin-right: 71px;
}

.orders {
  margin-left: 20px;
}

.orders-link,
.cabinet-link {
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline
}

.header-user-link:hover,
.header-user-link:focus {
  color: #ee3643;
}

.login:hover::before,
.login:focus::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='17' viewBox='0 0 20 17'%3E%3Cpath fill='%2332425c' d='M14.875 8.5L6 0v6H0v5h6v6z'/%3E%3Cpath fill='%2332425c' d='M16.986 15.01h-5.027V17h5.027c2.178 0 3.004-1.81 3.029-3.026V3.028C19.99 1.811 19.164 0 16.986 0h-5.027v1.99h5.027c.839 0 .992.681 1.01 1.057v10.904c-.017.376-.171 1.059-1.01 1.059z'/%3E%3C/svg%3E");
}

.login:active::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='17' viewBox='0 0 20 17'%3E%3Cpath fill='%23c5c5c5' d='M14.875 8.5L6 0v6H0v5h6v6z'/%3E%3Cpath fill='%23c5c5c5' d='M16.986 15.01h-5.027V17h5.027c2.178 0 3.004-1.81 3.029-3.026V3.028C19.99 1.811 19.164 0 16.986 0h-5.027v1.99h5.027c.839 0 .992.681 1.01 1.057v10.904c-.017.376-.171 1.059-1.01 1.059z'/%3E%3C/svg%3E");
}

.logged-link:hover,
.logged-link:focus {
  color: #000000;
}

.header-user-link:active {
  color: rgba(0, 0, 0, 0.3)
}

.login {
  padding-top: 11px;
  padding-right: 27px;
  padding-bottom: 15px;
  padding-left: 48px;
}

.registry {
  padding-top: 11px;
  padding-right: 25px;
  padding-bottom: 11px;
  padding-left: 20px;
}

.login-item,
.registry-item {
  display: block;
  height: 42px;
}

.logged-link {
  position: relative;
  width: 300px;
  padding: 13px 35px 14px 48px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.logout-link {
  font-size: 0;
}

.logged-link::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 13px;
  width: 20px;
  height: 18px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='18' viewBox='0 0 20 18'%3E%3Cpath fill='%23c5c5c5' d='M17.881 14.166c-2.144-.735-4.256-1.666-5.207-2.39-.657-.501-.77-1.618-.517-2.415 1.118-.903 1.864-2.477 1.864-4.278C14.021 2.276 12.221 0 10 0S5.979 2.276 5.979 5.083c0 1.801.746 3.374 1.863 4.277.253.798.141 1.915-.517 2.416-.95.724-3.063 1.654-5.207 2.39S0 18 0 18h20s.025-3.099-2.119-3.834z'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
}

.logout-link::after {
  content: "";
  position: absolute;
  top: 13px;
  right: 13px;
  width: 21px;
  height: 17px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='21' height='17' viewBox='0 0 21 17'%3E%3Cg fill='%23c5c5c5'%3E%3Cpath fill='%23c5c5c5' d='M21 8.5L12.125 0v6h-6v5h6v6z'/%3E%3Cpath fill='%23c5c5c5' d='M3.106 13.952V3.048c.018-.376.171-1.057 1.01-1.057h5.027V0H4.116C1.938 0 1.112 1.81 1.087 3.027v10.946C1.112 15.189 1.938 17 4.116 17h5.027v-1.99H4.116c-.839 0-.992-.683-1.01-1.058z'/%3E%3C/g%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
}

.logged-link:hover::before,
.logged-link:focus::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='18' viewBox='0 0 20 18'%3E%3Cpath fill='%2332425c' d='M17.881 14.166c-2.144-.735-4.256-1.666-5.207-2.39-.657-.501-.77-1.618-.517-2.415 1.118-.903 1.864-2.477 1.864-4.278C14.021 2.276 12.221 0 10 0S5.979 2.276 5.979 5.083c0 1.801.746 3.374 1.863 4.277.253.798.141 1.915-.517 2.416-.95.724-3.063 1.654-5.207 2.39S0 18 0 18h20s.025-3.099-2.119-3.834z'/%3E%3C/svg%3E%0A");
}

.logout-link:hover::after,
.logout-link:focus::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='21' height='17' viewBox='0 0 21 17'%3E%3Cg fill='%2332425c'%3E%3Cpath fill='%2332425c' d='M21 8.5L12.125 0v6h-6v5h6v6z'/%3E%3Cpath fill='%2332425c' d='M3.106 13.952V3.048c.018-.376.171-1.057 1.01-1.057h5.027V0H4.116C1.938 0 1.112 1.81 1.087 3.027v10.946C1.112 15.189 1.938 17 4.116 17h5.027v-1.99H4.116c-.839 0-.992-.683-1.01-1.058z'/%3E%3C/g%3E%3C/svg%3E%0A");
}

.logged-link:focus::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='18' viewBox='0 0 20 18'%3E%3Cpath fill='%2332425c' d='M17.881 14.166c-2.144-.735-4.256-1.666-5.207-2.39-.657-.501-.77-1.618-.517-2.415 1.118-.903 1.864-2.477 1.864-4.278C14.021 2.276 12.221 0 10 0S5.979 2.276 5.979 5.083c0 1.801.746 3.374 1.863 4.277.253.798.141 1.915-.517 2.416-.95.724-3.063 1.654-5.207 2.39S0 18 0 18h20s.025-3.099-2.119-3.834z'/%3E%3C/svg%3E%0A");
}

.logout-link:focus::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='21' height='17' viewBox='0 0 21 17'%3E%3Cg fill='%2332425c'%3E%3Cpath fill='%2332425c' d='M21 8.5L12.125 0v6h-6v5h6v6z'/%3E%3Cpath fill='%2332425c' d='M3.106 13.952V3.048c.018-.376.171-1.057 1.01-1.057h5.027V0H4.116C1.938 0 1.112 1.81 1.087 3.027v10.946C1.112 15.189 1.938 17 4.116 17h5.027v-1.99H4.116c-.839 0-.992-.683-1.01-1.058z'/%3E%3C/g%3E%3C/svg%3E%0A");
}

.logged-link:active::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='18' viewBox='0 0 20 18'%3E%3Cpath fill='%23c5c5c5' d='M17.881 14.166c-2.144-.735-4.256-1.666-5.207-2.39-.657-.501-.77-1.618-.517-2.415 1.118-.903 1.864-2.477 1.864-4.278C14.021 2.276 12.221 0 10 0S5.979 2.276 5.979 5.083c0 1.801.746 3.374 1.863 4.277.253.798.141 1.915-.517 2.416-.95.724-3.063 1.654-5.207 2.39S0 18 0 18h20s.025-3.099-2.119-3.834z'/%3E%3C/svg%3E%0A");
}

.logout-link:active::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='21' height='17' viewBox='0 0 21 17'%3E%3Cg fill='%23c5c5c5'%3E%3Cpath fill='%23c5c5c5' d='M21 8.5L12.125 0v6h-6v5h6v6z'/%3E%3Cpath fill='%23c5c5c5' d='M3.106 13.952V3.048c.018-.376.171-1.057 1.01-1.057h5.027V0H4.116C1.938 0 1.112 1.81 1.087 3.027v10.946C1.112 15.189 1.938 17 4.116 17h5.027v-1.99H4.116c-.839 0-.992-.683-1.01-1.058z'/%3E%3C/g%3E%3C/svg%3E%0A");
}

.header-navigation-list {
  list-style: none;
  background-color: #32425c;
}

.header-navigation-link {
  font-size: 17px;
  line-height: 17px;
  display: block;
  padding: 19px 29px;
  text-decoration: none;
  color: #ffffff;
}

.header-navigation-link:hover,
.header-navigation-link:focus {
  background-color: #293449;
}

.header-navigation-link:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #1d2739;
}

.promo-list-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 275px;
  min-height: 101px;
  list-style: none;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 20px;
  padding-top: 21px;
  padding-left: 25px;
}

.promo-list-material {
  margin-right: 20px;
  background-color: #f6b22d;
}

.promo-list-material::before {
  position: absolute;
  content: "";
  top: 30px;
  right: 43px;
  width: 44px;
  height: 65px;
  border: none;
  background: transparent;
  background-image: url("../img/material.svg");
  background-repeat: no-repeat;
}

.promo-list-tool {
  background-color: #3bbce3;
}

.promo-list-tool::before {
  position: absolute;
  content: "";
  top: 35px;
  right: 28px;
  width: 75px;
  height: 61px;
  border: none;
  background: transparent;
  background-image: url("../img/tool.svg");
  background-repeat: no-repeat;
}

.promo-list-slider {
  width: 620px;
  height: 266px;
  position: relative;
  background-color: #413c3a;
  padding: 0;
}

.promo-slider-header {
  margin: 0;
  position: absolute;
  top: 20px;
  left: 24px;
  width: 570px;
  padding: 0px;
  color: #ffffff;
  overflow: hidden;
}

.promo-list-mechanism {
  background-color: #dc91d8;
}

.promo-list-mechanism::before {
  position: absolute;
  content: "";
  top: 30px;
  right: 31px;
  width: 78px;
  height: 62px;
  border: none;
  background: transparent;
  background-image: url("../img/mechanism.svg");
  background-repeat: no-repeat;
}

.promo-list-discount {
  background-color: #8ed78f;
}

.promo-list-discount::before {
  position: absolute;
  content: "";
  top: 30px;
  right: 45px;
  width: 59px;
  height: 72px;
  border: none;
  background: transparent;
  background-image: url("../img/discount.svg");
  background-repeat: no-repeat;
}

.promo-list-delivery {
  background-color: #ffc047;
}

.promo-list-delivery::before {
  position: absolute;
  content: "";
  top: 30px;
  right: 31px;
  width: 78px;
  height: 63px;
  border: none;
  background: transparent;
  background-image: url("../img/delivery.svg");
  background-repeat: no-repeat;
}

.promo-list-link {
  width: 90px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.1);
  margin-top: 13px;
  margin-left: 2px;
  padding-top: 10px;
  padding-right: 22px;
  padding-bottom: 10px;
  padding-left: 21px;
  border-radius: 3px;
}

.promo-list-link:hover,
.promo-list-link:focus {
  background-color: rgba(0, 0, 0, 0.2);
}

.promo-list-link:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.slider-title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.title-text {
  font-family: PT Sans, Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #ffffff;
  margin: 0;
  margin-top: 8px;
}

.slider-page-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: absolute;
  bottom: 36px;
  left: 48%;
  width: 160px;
  height: 10px;
  padding: 0px;
  margin: 0px;
  font-size: 0px;
  line-height: 0px;
  text-align: center;
  list-style: none;
  z-index: 70;
}

.header-popular-title,
.header-brands-title {
  width: 500px;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: #32425c;
  text-transform: uppercase;
  padding-top: 5px;
  padding-bottom: 4px;
  padding-left: 27px;
}

.header-popular,
.header-brands {
  background-color: #f9f5f0;
}

.content-tool {
  width:700px;
  margin:20px auto;
}

.content-tool-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.popular-list {
  width: 940px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card-actions {
  position: absolute;
  top: 6px;
  left: 0;
  width: 218px;
  height: 88px;
  padding: 40px 0;
  background-color: rgba(255,255,255, 1);
  z-index: 10;
}

.card-actions {
  display: none;
}

.tool-list-item:hover,
.popular-list-item:hover,
.tool-list-item:focus,
.popular-list-item:focus  {
  -webkit-box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
          box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.tool-list-item:hover .card-actions,
.popular-list-item:hover .card-actions {
  display: block;
}

.flag {
  position:absolute;
  top:-1px;
  right:-1px;
  width:60px;
  height:60px;
  text-indent:-1000px;
  overflow:hidden;
  z-index:20;
}

.flag-new {
  background:url("../img/new-flag.png") no-repeat 0 0;
}

.promo-list-item .flag {
  top: 0;
  right: 0;
}

.popular-list-item,
.tool-list-item {
  position: relative;
  display: inline-block;
  vertical-align: bottom;
  width: 218px;
  margin-right: 20px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  line-height: 20px;
  font-weight: bold;
  text-align: center;
}

.popular-list-item:nth-child(4n) {
  margin-right: 0;
}

.tool-list-item:nth-child(3n) {
  margin-right: 0;
}

.card {
  width: 220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.brands-list {
  list-style: none;
}

.header-services-title,
.content-description-title {
  margin: 0 auto;
  font-family: Cuprum, Arial, sans-serif;
  font-size: 30px;
  line-height: 25px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 28px;
}

.content-description-title {
  letter-spacing: 0.2px;
  margin-top: 20px;
}

.content-description {
  padding: 0;
  padding-top: 45px;
  padding-bottom: 71px;
  background-color: #f1f5f7;
}

.content-description-wrapper {
  width: 940px;
  padding: 0;
  margin: 0 auto;
}

.delivery-description-title,
.guarantee-description-title,
.credit-description-title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: #32425c;
  text-transform: uppercase;
  letter-spacing: 0.3px;
  margin: 0;
  margin-bottom: 25px;
}

.header-services-description,
.delivery-description-text,
.guarantee-description-text,
.credit-description-text,
.content-description-text {
  font-family: PT Sans, Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
}

.delivery-description-text,
.guarantee-description-text,
.credit-description-text {
  margin: 0;
  margin-bottom: 31px;
}

.content-description-text {
  width: 940px;
  margin: 0 auto;
}

.description-text {
  margin: 0;
  padding: 0;
}

.services-list-btn {
  position: relative;
  width: 240px;
  margin: 0px;
  margin-top: 2px;
  margin-right: 80px;
  padding: 0px;
  z-index: 80;
  list-style: none;
}

.services-list-btn::after {
  content: "";
  position: absolute;
  top: 100px;
  right: 0px;
  width: 10px;
  height: 272px;
  margin-top: -136px;
  background-image: url("../img/services-shadow.png");
  background-repeat: no-repeat;
}

.services-item-link {
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff;
  background-color: #32425c;
  display: block;
  width: 200px;
  padding-top: 13px;
  padding-bottom: 17px;
  padding-left: 22px;
  padding-right: 18px;
  border: none;
  text-align: left;
  -webkit-box-shadow: inset 0 -1px 0 0 #293449;
          box-shadow: inset 0 -1px 0 0 #293449;
}

.services-item-link:hover,
.services-item-link:focus {
  color: #ffffff;
  background-color: #293449;
}

.services-item-link:active {
  color: #32425c;
  background-color: #ffffff;
  -webkit-box-shadow: inset 0 0 0 0 #293449;
          box-shadow: inset 0 0 0 0 #293449;
}

.services-item-link-active {
  color: #32425c;
  background-color: #ffffff;
  -webkit-box-shadow: inset 0 0 0 0 #293449;
          box-shadow: inset 0 0 0 0 #293449;
}

.list-delivery-description,
.list-guarantee-description,
.list-credit-description {
  width: 275px;
  min-height: 240px;
  z-index: 60;
}

.delivery {
  position: relative;
  z-index: 1;
  width: 275px;
}

.delivery::after {
  content: "";
  position: absolute;
  z-index: -1;
  right: -344px;
  top: -38px;
  width: 468px;
  height: 261px;
  background-image: url("../img/services-delivery.png");
  background-repeat: no-repeat;
}

.guarantee {
  position: relative;
  z-index: 1;
  width: 378px;
}

.guarantee::after {
  content: "";
  position: absolute;
  z-index: -1;
  right: -344px;
  top: -38px;
  width: 389px;
  height: 283px;
  background-image: url("../img/services-guarantee.png");
  background-repeat: no-repeat;
}

.credit {
  position: relative;
  z-index: 1;
}

.credit::after {
  content: "";
  position: absolute;
  z-index: -1;
  right: -344px;
  top: -65px;
  width: 465px;
  height: 285px;
  background-image: url("../img/services-credit.png");
  background-repeat: no-repeat;
}

.services-credit-link {
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 41px;
  padding-left: 41px;
  font: inherit;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #ee3643;
  border: 0;
  border-radius: 3px;
}

.content-company-title,
.content-contacts-title {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  margin-bottom: 27px;
  letter-spacing: -0.7px;
}

.main-company-list {
  font-size: 18px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-company-item {
  margin-bottom: 20px;
}

.main-company-item:last-child {
  margin-bottom: 0;
}

.main-company-item::before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 2px;
  margin-right: 10px;
  line-height: 20px;
  vertical-align: middle;
  background-color: #fb565a;
}

.main-button {
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #ee3643;
  display: inline-block;
  vertical-align: middle;
}

.main-company-link {
  margin-top: 35px;
  width: 169px;
  background-color: #ee3643;
  padding: 11px 10px 9px 41px;
  border-radius: 3px;
}

.content-map-link {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-top: 40px;
  width: 200px;
  background-color: #ee3643;
  padding: 11px 37px 9px 63px;
  border-radius: 3px;
}

.content-contacts-map {
  margin-top: 5px;
}

.main-button:hover,
.main-button:focus {
  background-color: #ca2c37;
}

.main-button:active {
  background-color: #ba2732;
}

.main-footer {
  background-color: #32425c;
}

.main-footer-logo,
.inner-footer-logo {
  position: relative;
  display: block;
  background-color: #ee3643;
  width: 220px;
  min-height: 68px;
  -webkit-box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
          box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
}

.main-footer-logo .logo-img,
.inner-footer-logo .logo-img {
  position: absolute;
  top: 31%;
  left: 19%;
}

.main-footer-address,
.footer-address-link {
  width: 324px;
  font-size: 18px;
  line-height: 1.33;
  font-style: normal;
  color: #f3f7f9;
  margin-top: 27px;
  padding-left: 2px;
}

.footer-address {
  margin: 0;
  margin-top: 1px;
  padding: 0;
}

.navigation-footer-list,
.navigation-catalog-list {
  font-size: 18px;
  line-height: 24px;
  list-style: none;
}

.navigation-footer-link {
  color: #f3f7f9;
}

.navigation-catalog-link {
    color: #ffd180;
}

.navigation-footer-link:hover,
.navigation-footer-link:focus {
  text-decoration: underline;
}

.navigation-catalog-link:hover,
.navigation-catalog-link:focus {
  text-decoration: underline;
}

.navigation-footer-link:active {
  color: rgba(241, 245, 247, 0.5);
}

.navigation-catalog-link:active {
  color: rgba(255, 209, 128, 0.5);
}

.footer-bottom {
  color: #ffffff;
  background-color: #293449;
}

.main-footer-copyright {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  width: 230px;
  margin: 0;
  margin-top: 39px;
  letter-spacing: 0.1px;
}

.footer-social-list {
  width: 132px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  margin-top: 25px;
  padding: 0;
  padding-left: 40px;
  list-style: none;
}

.footer-social-link {
  width: 42px;
  height: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  color:#ffffff;
  background-color: #212a3a;
}

.footer-social-link:hover,
.footer-social-link:active,
.footer-social-link:focus {
  background-color: #ee3643;
}

.main-footer-contact,
.main-footer-developed {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
  margin-top: 0;
}

.main-footer-developed {
  margin-left: 50px;
}

.footer-contact-link,
.footer-developed-link {
  color: #ffd180;
}

.footer-contact-link:hover,
.footer-developed-link:hover,
.footer-contact-link:focus,
.footer-developed-link:focus {
  text-decoration: underline;
}

.footer-contact-link:active,
.footer-developed-link:active {
  color: #ee3643;
}

.content-breadcrumbs-list {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 21px;
  width: 355px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content-breadcrumbs-link {
  position: relative;
  color: #000000;
}

.content-breadcrumbs-home::before {
  position: absolute;
  content: "";
  top: 3px;
  left: 30px;
  width: 8px;
  height: 12px;
  background-image: url("../img/icon-right-small.svg");
  background-repeat: no-repeat;
}

.content-breadcrumbs-catalog::before {
  position: absolute;
  content: "";
  top: 3px;
  left: 70px;
  width: 8px;
  height: 12px;
  background-image: url("../img/icon-right-small.svg");
  background-repeat: no-repeat;
}

.content-breadcrumbs-tool::before {
  position: absolute;
  content: "";
  top: 3px;
  left: 95px;
  width: 8px;
  height: 12px;
  background-image: url("../img/icon-right-small.svg");
  background-repeat: no-repeat;
}

.breadcrumbs-wrapper {
 width: 940px;
 margin: 0 auto;
 margin-bottom: 21px;
}

.inner-content-title {
  width: 910px;
  margin: 0 auto;
  margin-bottom: 20px;
  font-family: Cuprum, Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: #32425c;
  text-transform: uppercase;
  background-color: #f2f6f8;
  padding-top: 28px;
  padding-bottom: 30px;
  padding-left: 28px;
}

.content-filters-title {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
  background-color: #f7f3ec;
  width: 202px;
  margin: 0;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 18px;
}

.price-title,
.manufacturers-title,
.power-title {
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.price-title {
  margin-bottom: 15px;
}

.manufacturers-title {
  padding-top: 3px;
  margin-bottom: 15px;
}

.power-title {
  margin-top: 25px;
  margin-bottom: 15px;
}

.price-cost-min,
.price-cost-max {
  width: 95px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
  text-align: center;
  padding: 10px 0;
}

.price-cost-separator {
  display: inline-block;
  width: 20px;
  margin: 0px;
  font-size: 10px;
  line-height: 18px;
  text-align: center;
  vertical-align: middle;
}

.price-slider-line {
  position: relative;
  width: 180px;
  height: 2px;
  left: 20px;
  background-color: #d7dcde;
}

.slider-line-badge {
  position: absolute;
  top: 27px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
          box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.slider-line-badge:hover,
.slider-line-badge:focus {
  background: #1c4f80;
}

.slider-line-active {
  width: 152px;
  height: 2px;
  background-color: #00ca74;
}

.slider-line-bage-left {
  left: 20px;
}

.slider-line-bage-right {
  left: 160px;
}

.filtres-price-slider {
  position: relative;
  width: 220px;
  background-color: #f7f3ec;
  padding: 0;
  padding-top: 37px;
  padding-bottom: 37px;
  margin-bottom: 10px;
}

.filtres-price-slider,
.price-cost-min,
.price-cost-max {
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  background-color: #f7f3ec;
}

.filters-manufactures-list,
.filtres-power-list {
  margin: 0;
  padding: 0;
}

.manufactures-list-option,
.power-list-option {
  padding-bottom: 15px;
  padding-left: 35px;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  list-style: none;
}

.manufactures-list-option:last-child {
  padding-bottom: 0px;
}

.manufactures-label,
.power-label {
  position: relative;
  display: block;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding-bottom: 5px;
}

.manufactures-input-checkbox + .manufactures-label::before {
  content: "";
  position: absolute;
  left: -35px;
  top: 0;
  width: 23px;
  height: 23px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='23' height='23' viewBox='0 0 23 23'%3E%3Cpath fill='%23c5c5c5' d='M20 2c.542 0 1 .458 1 1v17c0 .542-.458 1-1 1H3c-.542 0-1-.458-1-1V3c0-.542.458-1 1-1h17m0-2H3C1.35 0 0 1.35 0 3v17c0 1.65 1.35 3 3 3h17c1.65 0 3-1.35 3-3V3c0-1.65-1.35-3-3-3z'/%3E%3C/svg%3E%0A");
}

.manufactures-input-checkbox:checked + .manufactures-label::after {
  content: "";
  position: absolute;
  left: -35px;
  top: 0;
  width: 27px;
  height: 23px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='27' height='23' viewBox='0 0 27 23'%3E%3Cpath fill='%23c5c5c5' d='M7.285 7.486l-2.829 2.829 7.783 7.783L26.171 4.166l-2.828-2.829-11.104 11.102z'/%3E%3Cpath fill='%23c5c5c5' d='M21 20c0 .542-.458 1-1 1H3c-.542 0-1-.458-1-1V3c0-.542.458-1 1-1h16.908L21.493.415A2.96 2.96 0 0 0 20 0H3C1.35 0 0 1.35 0 3v17c0 1.65 1.35 3 3 3h17c1.65 0 3-1.35 3-3v-9.829l-2 2V20z'/%3E%3C/svg%3E%0A");
}

.manufactures-input-checkbox:focus + .manufactures-label::before,
.power-input-radio:checked:focus + .power-label::before,
.power-input-radio:focus + .power-label::after {
  outline: 2px solid #0099FF;
}

.manufactures-input:disabled + .manufactures-label::before,
.power-input-radio:disabled + .power-label::before  {
  opacity: 0.3;
}

.power-input-radio + .power-label::before {
  content: "";
  position: absolute;
  left: -35px;
  top: 0;
  width: 25px;
  height: 25px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 25 25'%3E%3Cpath fill='%23b5b5b5' d='M12.5 4c4.687 0 8.5 3.813 8.5 8.5 0 4.687-3.813 8.5-8.5 8.5C7.813 21 4 17.187 4 12.5 4 7.813 7.813 4 12.5 4m0-4C5.597 0 0 5.597 0 12.5S5.597 25 12.5 25 25 19.403 25 12.5 19.403 0 12.5 0z'/%3E%3C/svg%3E");
}

.power-input-radio:checked + .power-label::after {
  content: "";
  position: absolute;
  left: -35px;
  top: 0;
  width: 25px;
  height: 25px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 25 25'%3E%3Cpath fill='%23b5b5b5' d='M12.5 4c4.687 0 8.5 3.813 8.5 8.5 0 4.687-3.813 8.5-8.5 8.5C7.813 21 4 17.187 4 12.5 4 7.813 7.813 4 12.5 4m0-4C5.597 0 0 5.597 0 12.5S5.597 25 12.5 25 25 19.403 25 12.5 19.403 0 12.5 0z'/%3E%3Ccircle fill='%23b5b5b5' cx='12.5' cy='12.5' r='4.5'/%3E%3C/svg%3E%0A");
}

.filters-form-button {
  width: 140px;
  height: 38px;
  font-family: PT Sans, Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: -0.1px;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  padding: 0;
}

.filters-form-button:hover {
  border: 1px solid #bdc6ca;
}

.filters-form-button:active {
  border: 1px solid #ee3643;
}

.content-sorting {
  background-color: #f7f3ec;
}

.content-sorting-title,
.sorting-item  {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
}

.wrapper-sorting-tool {
  width: 700px;
  margin-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content-sorting {
  width: 700px;
  min-height: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content-sorting-list {
  width: 460px;
  margin: 0;
  padding: 0;
  padding-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 60px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.sorting-item:nth-child(1) .sorting-list-button {
  margin-right: 71px;
}

.sorting-item:nth-child(2) .sorting-list-button {
  margin-right: 65px;
}

.sorting-item:nth-child(3) .sorting-list-button {
  margin-right: 25px;
}

.sorting-item:nth-child(n+6) .sorting-list-button {
  margin-right: 25px;
}

.sorting-list-button-up {
  position: absolute;
  content: "";
  top: 13px;
  right: 49px;
  margin: 0;
  padding: 0;
  width: 11px;
  height: 10px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11' height='10' viewBox='0 0 11 10'%3E%3Cpath fill='%23231F20' d='M5.5 0L0 10h11z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  opacity: 0.3;
}

.sorting-list-button-down {
  position: absolute;
  top: 13px;
  right: 17px;
  margin: 0;
  padding: 0;
  width: 11px;
  height: 10px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11' height='10' viewBox='0 0 11 10'%3E%3Cpath fill='%23231F20' d='M5.5 10L0 0h11'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  opacity: 0.3;
}

.sorting-list-button-up:hover,
.sorting-list-button-down:hover,
.sorting-list-button-up:focus,
.sorting-list-button-down:focus {
  opacity: 1;
}

.sorting-list-button-up:active {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11' height='10' viewBox='0 0 11 10'%3E%3Cpath fill='%23ee3643' d='M5.5 0L0 10h11z'/%3E%3C/svg%3E");
}

.sorting-list-button-down:active {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11' height='10' viewBox='0 0 11 10'%3E%3Cpath fill='%23ee3643' d='M5.5 10L0 0h11'/%3E%3C/svg%3E");
}

.content-sorting-title {
  width: 252px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 20px;
}

.content-sorting-list {
  position: relative;
  list-style: none;
}

.sorting-list-button {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.3);
}

.sorting-list-button:hover,
.sorting-list-button:focus {
  color: #000000;
}

.sorting-list-button-active,
.sorting-list-button:active {
  color: #ee3643;
}

.sorting-list-type,
.sorting-list-functional {
  border-bottom: 1px dotted #ee3643;
}

.card-title {
  width: 150px;
  font-family: PT Sans, Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  color: #000000;
  min-height: 40px;
  padding: 0;
  padding-left: 35px;
  letter-spacing: -0.5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.card-price-old,
.card-price {
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  color: #999999;
}

.card-price-old {
  min-height: 20px;
  margin: 0;
  margin-bottom: 5px;
}

.card-price {
  padding: 0;
  margin: 0;
}

.card-price {
  position: relative;
  width: 80px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 11px 30px;
  color: #ffffff;
  background: #ee3643;
  border-radius: 3px;
}

.card-price::after {
  content: "";
  position: absolute;
  top: 0;
  right: -20px;
  width: 0;
  height: 0;
  border: 20px solid white;
  border-left-color: #ee3643;
}

.card-price-button {
  font-family: Cuprum, Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
}

.card-price-buy,
.card-price-inbookmarks {
  position: relative;
  display: block;
  width: 129px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 7px 0;
  border-bottom: 3px solid #367315;
  background-color: #63a63e;
  color: #ffffff;
  font-size: 14px;
  font-weight: normal;
  font-family: Cuprum, Arial, sans-serif;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 3px;
}

.card-price-inbookmarks {
  color:#32425c;
  background:white;
  border: 3px solid #63a63e;
}

.card-price-buy:hover,
.card-price-buy:focus {
  background-color: #5fbb2d;
}

.card-price-inbookmarks:hover,
.card-price-inbookmarks:focus {
  border: 3px solid #32425c;
}

.card-price-buy:active {
  background-color: #518534;
}

.card-price-inbookmarks:active {
  color: rgb(50, 66, 92);
  opacity: 0.3;
}

.card-price-buy::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 12px;
  width: 15px;
  height: 15px;
  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  opacity: 0.3;
}

.card-price-buy:hover::before,
.card-price-buy:focus::before {
  opacity: 1;
}

.content-pages {
  margin: 0;
  bottom: 0;
  left: 0;
}

.content-pages-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
  margin: 0;
  margin-top: 13px;
  margin-bottom: 60px;
  padding: 0;
}

.pages-list-link {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
}

.pages-list-link {
  display: inline-block;
  min-width: 18px;
  min-height: 38px;
  padding-top: 0px;
  padding-right: 10px;
  padding-bottom: 0;
  padding-left: 10px;
  margin-right: 8px;
  font-family: PT Sans, Arial, sans-serif;
  font-size: 13px;
  line-height: 38px;
  text-align: center;
  vertical-align: middle;
  color: #000000;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  text-decoration: none;
  border-radius: 3px;
}

.pages-list-link:hover {
  border: 1px solid #bdc6ca;
}

.pages-list-link:active {
  border: 1px solid #ee3643;
}

.pages-list-link-current {
  color: #ffffff;
  background-color: #ee3643;
}

.pages-link-next {
  min-width: 118px;
}

.main-header-top,
.inner-header-top {
  width: 940px;
  min-height: 42px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-header-search {
  position: relative;
  width: 270px;
  min-height: 42px;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.main-header-list,
.inner-header-list {
  margin: 0px;
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main-header-item,
.inner-header-item {
  width: 150px;
  min-height: 42px;
  position: relative;
  text-align: center;
  font-size: 17px;
  line-height: 41px
}

.main-header-bookmarks::before,
.inner-header-bookmarks::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 15px;
  width: 14px;
  height: 16px;
  background-image: url("../img/icon-bookmark.svg");
  background-repeat: no-repeat;
  opacity: 0.3;
}

.main-header-cart::before,
.inner-header-cart::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 15px;
  width: 15px;
  height: 15px;
  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  opacity: 0.3;
}

.main-header-middle,
.inner-header-middle {
  width: 940px;
  margin: 0 auto;
  padding-top: 46px;
  padding-bottom: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.main-header-user {
  width: 280px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 70px;
  padding: 0;
}

.inner-header-user {
  width: 300px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  list-style: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.login::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 14px;
  width: 20px;
  height: 17px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='17' viewBox='0 0 20 17'%3E%3Cpath fill='%23c5c5c5' d='M14.875 8.5L6 0v6H0v5h6v6z'/%3E%3Cpath fill='%23c5c5c5' d='M16.986 15.01h-5.027V17h5.027c2.178 0 3.004-1.81 3.029-3.026V3.028C19.99 1.811 19.164 0 16.986 0h-5.027v1.99h5.027c.839 0 .992.681 1.01 1.057v10.904c-.017.376-.171 1.059-1.01 1.059z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
}

.header-navigation-list {
  width: 940px;
  margin: 0px auto;
  padding: 0px;
  text-align: center;
  background-color: #32425c;
  -webkit-box-shadow: 0 5px 0 0 #293449;
          box-shadow: 0 5px 0 0 #293449;
  overflow: hidden;
}

.header-navigation-item {
  display: inline-block;
  vertical-align: top;
}

.container {
  min-width: 940px;
  margin: 0 auto;
  padding: 0;
}

.index-columns {
  width: 940px;
  margin: 0 auto;
  margin-bottom: 85px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content-company {
  width: 540px;
}

.content-contacts {
  position: relative;
  width: 300px;
}

.footer-wrapper {
  background-color: #32425c;
}

.footer-wrapper-bot {
  min-height: 109px;
  background-color: #293449;
}

.container-footer-top,
.footer-bottom {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.container-footer-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 50px;
}

.footer-logo-address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-navigation-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 65px;
}

.navigation-footer-list {
  width: 550px;
  margin: 0 auto;
  margin-top: 40px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.navigation-catalog-list {
  width: 525px;
  margin: 0 auto;
  margin-top: 33px;
  margin-right: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.wrapper-contact-developed {
  width: 300px;
  margin: 0;
  margin-top: 39px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.wrapper-filters-tool {
  position: relative;
  width: 940px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.wrapper-filters {
  width: 220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.filters-price,
.filters-manufacturers,
.filters-power {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  padding-bottom: 25px;
  border: none;
}

.filters-manufacturers {
  padding-bottom: 17px;
}

.filters-power {
  margin-bottom: 35px;
}

.filters-price,
.filters-manufacturers {
  border-bottom: 1px solid #e5e5e5;
}

.promo {
  width: 940px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  margin-bottom: 33px;
  padding-top: 60px;
}

.promo-left .promo-list {
  width: 620px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: 20px;
}

.promo-list {
  margin: 0;
  padding: 0;
}

.promo-slider-left {
  position: absolute;
  content: "";
  top: 114px;
  left: 25px;
  width: 22px;
  height: 40px;
  border: none;
  background: transparent;
  cursor: pointer;
  background-image: url("../img/icon-left.svg");
  background-repeat: no-repeat;
}

.promo-slider-right {
  position: absolute;
  content: "";
  top: 114px;
  right: 20px;
  width: 22px;
  height: 40px;
  border: none;
  background: transparent;
  cursor: pointer;
  background-image: url("../img/icon-right.svg");
  background-repeat: no-repeat;
}

.promo-slider-link {
  width: 111px;
  position: absolute;
  bottom: 22px;
  left: 25px;
  padding: 10px 42px;
  border-radius: 3px;
  letter-spacing: 0.3px;
}

.slider-page-item {
  display: inline-block;
  vertical-align: top;
  margin-right: 8px;
}

.slider-page-item:last-child {
  margin-right: 0px;
}

.slider-page {
  width: 11px;
  height: 11px;
  padding: 0px;
  margin: 0px;
  background: #ffffff;
  border: 3px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.popular,
.brands {
  width: 940px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 65px;
}

.popular {
  margin: 0 auto;
}

.header-popular,
.header-brands {
  margin-bottom: 20px;
  position: relative;
}

.header-brands {
  margin-top: 3px;
}

.header-popular-link,
.header-brands-link {
  position: absolute;
  width: 151px;
  top: 25px;
  right: 24px;
  text-align: center;
  padding: 10px 51px;
  border-radius: 3px;
}

.brands-list {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.brands-list-logo {
  width: 218px;
  height: 143px;
  border: 1px solid #eaeaea;
  margin-bottom: 20px;
  margin-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.brands-list-logo:nth-child(4n) {
  margin-right: 0;
}

.list-logo-link {
  display: block;
  -ms-flex-item-align:center;
      -ms-grid-row-align:center;
      align-self:center;
}

.brands-list-logo:hover,
.brands-list-logo:focus {
  -webkit-box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
          box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.brands-list-logo:active {
  -webkit-box-shadow: 0 4px 10px rgb(41, 52, 73);
          box-shadow: 0 4px 10px rgb(41, 52, 73);
  opacity: 0.3;
}

.services {
  min-height: 457px;
  padding-top: 63px;
  margin-bottom: 80px;
  background-color: #f4f8f9;
}

.services-wrapper {
  width: 940px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header-services {
  width: 400px;
  margin-bottom: 50px;
  padding-top: 5px;
}

.services-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 5px;
}

.modal-map {
  width: 940px;
  height: 446px;
  -webkit-transform: translateX(-19.5%);
      -ms-transform: translateX(-19.5%);
          transform: translateX(-19.5%);
  position: relative;
}

.modal-close {
  position: absolute;
  content: "";
  top: 9px;
  right: 9px;
  width: 21px;
  height: 21px;
  border: none;
  background: transparent;
  cursor: pointer;
  background-image: url("../img/icon-close-popup.svg");
  background-repeat: no-repeat;
  z-index: 2;
}

.modal-map iframe {
  position: relative;
  z-index: 2;
  border: none;
}

.modal-map img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  margin: 0;
}

.modal-feedback,
.modal-cart {
  position: relative;
  width: 620px;
  border-top: 7px solid #ff5357;
}

.modal-feedback-footer {
  padding: 37px 80px;
  background-color: #f4f4f4;
}

.modal-feedback-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal-feedback-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 38px;
  padding-left: 80px;
}


.modal-feedback-label {
  display: block;
  padding-bottom: 10px;
  font-size: 18px;
  line-height: 18px;
  color: #000000;
}

.modal-feedback-email {
  margin-left: 20px;
}

.modal-feedback-user-name,
.modal-feedback-user-email {
  width: 184px;
  border: 2px solid #dee3e4;
  font-size: 13px;
  padding: 10px 16px 10px;
  border-radius: 3px;
}

.modal-feedback-textform {
  padding-left: 80px;
}

.modal-feedback-user-textform {
  width: 424px;
  min-height: 114px;
  border: 2px solid #dee3e4;
  font-size: 13px;
  padding: 13px 16px;
  border-radius: 3px;
}

.modal-feedback-user-name:hover,
.modal-feedback-user-email:hover,
.modal-feedback-user-textform:hover {
  border-color: #b5b5b5;
}

.modal-feedback-user-name:focus,
.modal-feedback-user-email:focus,
.modal-feedback-user-textform:focus {
  border-color: #ee3643;
}

.modal-feedback-button {
  width: 460px;
  padding: 12px 0;
  border: none;
  border-radius: 3px;
  background-color: #ee3643;
  color: #ffffff;
  text-transform: uppercase;
}

.modal-cart-header {
  padding-top: 65px;
  padding-bottom: 65px;
  padding-left: 180px;
}

.modal-cart-title {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: #000000;
  margin: 0;
  padding: 0;
}

.modal-cart-title::after {
  position: absolute;
  content: "";
  top: 50px;
  left: 81px;
  width: 66px;
  height: 66px;
  border: none;
  background-image: url("../img/icon-mark.svg");
  background-repeat: no-repeat;
}

.modal-cart-block-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  background-color: #f1f1f1;
  padding: 34px 80px;
}

.modal-cart-button {
  font-family: Cuprum, Arial, sans-serif;
  width: 220px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  padding: 0;
  padding-top: 11px;
  padding-bottom: 11px;
  border-radius: 3px;
  border: none
}

.modal-cart-checkout {
  color: #ffffff;
  background-color: #ee3643;
}

.modal-cart-continue {
  background-color: #ffffff;
  color: #000000;
  margin-left: 20px;
}

@-webkit-keyframes zoom-in {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
            transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}

@keyframes zoom-in {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
            transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}

@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate(-51%, -50%);
            transform: translate(-51%, -50%);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate(-49%, -50%);
            transform: translate(-49%, -50%);
  }
}

@keyframes shake {
  0%,
  100% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate(-51%, -50%);
            transform: translate(-51%, -50%);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate(-49%, -50%);
            transform: translate(-49%, -50%);
  }
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  display: none;
  color: #000000;
  background-color: #ffffff;
  -webkit-box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.7);
          box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.7);
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 100;
}

.modal-show {
  display: block;
  -webkit-animation-name: zoom-in;
          animation-name: zoom-in;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
}

.modal-error {
  -webkit-animation: shake 0.6s;
          animation: shake 0.6s;
}
