body {
  margin:0;
  padding: 0;

  font-family: Cuprum, Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  font-style: normal;
}

.company-description,
.company-delivery,
.contacts-description {
  font-family: PTSans, Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;

  color: #000000;
}

a {
  text-decoration: none;
}

.modal {
  display: none;
}

/*Шапка сайта поле поиска и кнопки управления заказами*/
.main-header-top,
.inner-header-top {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;

  background-color: #293449;
}

.main-header-logo,
.inner-header-logo{
  display: block;
  background-color: #ee3643;

  width: 220px;
  height: 42px;
}

.header-search-input {
  background-color: transparent;
  border: 0px solid;
  color: #ffffff;
}

.header-search-input::placeholder {
  color: #ffffff;
}

.main-header-list,
.inner-header-list {
  list-style: none;
}

.main-header-link,
.inner-header-link {
  color: #ffffff;
}

.inner-header-cart-active{
  background-color: #ee3643;
}

.main-header-checkout,
.inner-header-checkout {
  background-color: #63a63e;
}

.main-header-link:hover,
.inner-header-link:hover {
  background-color: #212a3a;
}

.inner-header-logo:hover,
.inner-header-cart-active:hover{
  background-color: #ca2c37;
}

.main-header-checkout:hover,
.inner-header-checkout:hover{
  background-color: #5fbb2d;
}

.inner-header-logo:active{
  background-color: #ba2732;
}

.main-header-link:active,
.inner-header-link:active {
  background-color: #161d29;
}

.inner-header-logo:active,
.inner-header-cart-active:active {
  background-color: #ba2732;
}

.main-header-checkout:active,
.inner-header-checkout:active{
  background-color: #518534;
}

/*Шапка сайта контактная информация вход, регистрация, личный кабинет*/

.main-header-middle,
.inner-header-middle {
  font-size: 21px;
  line-height: 21px;

  background-color: #f1f5f7;
}

.main-header-title,
.inner-header-title {
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  font-weight: 400;
  color: #ee3643;
}

.header-contact-link {
  font-size: 21px;
  line-height: 21px;
  font-style: normal;
  color: #ee3643;
}

.header-contact-address {
  font-size: 14px;
  line-height: 24px;
  font-style: normal;
  color: #32425c;
}

.main-header-user,
.inner-header-user {
  list-style: none;
}

.header-user-list {
  background-color: #ffffff;
}


.header-user-link {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
}

.orders-link,
.cabinet-link {
  font-size: 16px;
}

.header-user-link:hover {
  color: #ee3643;
}

.logged-link:hover {
  color: #000000;
}

.header-user-link:active {
  color: rgba(0, 0, 0, 0.3)
}

/*Шапка сайта меню навигации*/

.header-navigation-list {
  list-style: none;
}

.header-navigation-link {
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;

  background-color: #32425c;
}

.header-navigation-link:hover {
  background-color: #293449;
}

.header-navigation-link:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #1d2739;
}

/*Блок компании и карта*/

.content-company-title,
.content-contacts-title {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;

  color: #000000;
}

.main-company-list {
  font-size: 18px;
  line-height: 20px;

  list-style: none;
}

.main-button {
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #ee3643;
}

.main-button:hover {
  background-color: #ca2c37;
}

.main-button:active {
  background-color: #ba2732;
}

/*Футер*/

.main-footer {
  background-color: #32425c;
}

.main-footer-logo,
.inner-footer-logo{
  display: block;
  background-color: #ee3643;
}

.main-footer-address,
.footer-address-link {
  font-size: 18px;
  line-height: 24px;
  font-style: normal;
  color: #f3f7f9;
}

.navigation-footer-list,
.navigation-catalog-list {
  font-size: 18px;
  line-height: 24px;
  list-style: none;
}

.navigation-footer-link {
  color: #f3f7f9;
}

.navigation-catalog-link{
    color: #ffd180;
}

.navigation-footer-link:active {
  color: rgba(241, 245, 247, 0.5);
}

.navigation-catalog-link:active {
  color: rgba(255, 209, 128, 0.5);
}

.footer-bottom {
  color: #ffffff;
  background-color: #293449;
}

.main-footer-copyright {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
}

.footer-social-list {
  list-style: none;
}

.footer-social-link {
  color:#ffffff;
  background-color: #212a3a;
}

.footer-social-link:hover,
.footer-social-link:active {
  background-color: #ee3643;
}

.main-footer-contact,
.main-footer-developed {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
}

.footer-contact-link,
.footer-developed-link {
  color: #ffd180;
}

.footer-contact-link:active,
.footer-developed-link:active {
  color: #ee3643;
}




